@font-face {
	font-family: "Heldane";
	src:
		url("/fonts/HeldaneTextWeb-Regular.woff2") format("woff2"),
		url("/fonts/HeldaneTextWeb-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Heldane";
	src:
		url("/fonts/HeldaneTextWeb-RegularItalic.woff2") format("woff2"),
		url("/fonts/HeldaneTextWeb-RegularItalic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Heldane";
	src:
		url("/fonts/HeldaneTextWeb-Medium.woff2") format("woff2"),
		url("/fonts/HeldaneTextWeb-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Heldane";
	src:
		url("/fonts/HeldaneTextWeb-MediumItalic.woff2") format("woff2"),
		url("/fonts/HeldaneTextWeb-MediumItalic.woff") format("woff");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Heldane Display";
	src:
		url("/fonts/HeldaneDisplayWeb-Regular.woff2") format("woff2"),
		url("/fonts/HeldaneDisplayWeb-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Founders Grotesk";
	src:
		url("/fonts/FoundersGroteskWeb-Medium.woff2") format("woff2"),
		url("/fonts/FoundersGroteskWeb-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
