@font-face {
  font-family: 'Heldane';
  src: url('./HeldaneTextWeb-Regular.woff2') format('woff2'),
       url('./HeldaneTextWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Heldane';
  src: url('./HeldaneTextWeb-RegularItalic.woff2') format('woff2'),
       url('./HeldaneTextWeb-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Heldane';
  src: url('./HeldaneTextWeb-Medium.woff2') format('woff2'),
       url('./HeldaneTextWeb-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Heldane';
  src: url('./HeldaneTextWeb-MediumItalic.woff2') format('woff2'),
       url('./HeldaneTextWeb-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Heldane Display';
  src: url('./HeldaneDisplayWeb-Regular.woff2') format('woff2'),
       url('./HeldaneDisplayWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('./FoundersGroteskWeb-Medium.woff2') format('woff2'),
       url('./FoundersGroteskWeb-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
