:root {
  --function: #4B22B0;
  --types: #3F6E74;
  --controlflow: #AD3DA4;
  --variablename: #000000;
  --regexp: #d16969;
  --comment: #536579;
  --keyword: #AD3DA4;
  --numeric: #272AD8;
  --string: #D12F1B;
  --primitive: #713DA9;
  --property: #816927;
  --punctuation: #000000;
  --operator: #000000;

  --diagnostic-bg: rgba(209, 47, 27, 0.1);
  --diagnostic-underline: rgba(209, 47, 27, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --function: #FF816F;
    --types: #91D462;
    --controlflow: #FF7AB2;
    --variablename: #ffffff;
    --regexp: #d16969;
    --comment: #7F8C99;
    --keyword: #FF7AB2;
    --numeric: #A79DF8;
    --string: #FC6A5D;
    --primitive: #8AD1C3;
    --property: #8AD1C3;
    --punctuation: #ffffff;
    --operator: #ffffff;

    --diagnostic-bg: rgba(218, 54, 63, 0.2);
    --diagnostic-underline: rgba(218, 54, 63, 1);
  }
}

html[data-prefers-dark] {
  --function: #FF816F;
  --types: #91D462;
  --controlflow: #FF7AB2;
  --variablename: #ffffff;
  --regexp: #d16969;
  --comment: #7F8C99;
  --keyword: #FF7AB2;
  --numeric: #A79DF8;
  --string: #FC6A5D;
  --primitive: #8AD1C3;
  --property: #8AD1C3;
  --punctuation: #ffffff;
  --operator: #ffffff;

  --diagnostic-bg: rgba(218, 54, 63, 0.2);
  --diagnostic-underline: rgba(218, 54, 63, 1);
}

.tm-theme-vscode {
  --function: #795E26;
  --types: #267f99;
  --controlflow: #AF00DB;
  --variablename: #001080;
  --regexp: #d16969;
  --comment: #008000;
  --keyword: #0000ff;
  --numeric: #09885a;
  --string: #a31515;
  --primitive: #0000ff;
  --property: #0451a5;
  --punctuation: #000000;
  --operator: #000000;
}

.tm-theme .storage.modifier { color: var(--keyword); }
.tm-theme .storage.type { color: var(--keyword); }
.tm-theme .keyword.control { color: var(--controlflow); }
.tm-theme .keyword.other { color: var(--keyword); }
.tm-theme .keyword.operator.expression { color: var(--keyword); }
.tm-theme .keyword.operator.new { color: var(--keyword); }
.tm-theme .keyword.generator.asterisk { color: var(--keyword); }
.tm-theme .punctuation.definition.template-expression { color: var(--keyword); }
.tm-theme .support.type { color: var(--primitive); }
.tm-theme .constant.language { color: var(--keyword); }
.tm-theme .variable.language { color: var(--keyword); }
.tm-theme .string { color: var(--string); }
.tm-theme .punctuation.definition.string { color: var(--string); }
.tm-theme .constant.character { color: var(--string); }
.tm-theme .keyword.control.anchor.regexp { color: var(--regexp); }
.tm-theme .keyword.other.back-reference.regexp { color: var(--regexp); }
.tm-theme .keyword.operator.quantifier.regexp { color: var(--regexp); }
.tm-theme .keyword.operator.or.regexp { color: var(--regexp); }
.tm-theme .keyword.operator.negation.regexp { color: var(--regexp); }
.tm-theme .punctuation.definition.group.regexp { color: var(--regexp); }
.tm-theme .punctuation.definition.group.assertion.regexp { color: var(--regexp); }
.tm-theme .meta.assertion.look-ahead.regexp { color: var(--regexp); }
.tm-theme .meta.assertion.negative-look-ahead.regexp { color: var(--regexp); }
.tm-theme .punctuation.definition.group.capture.regexp { color: var(--regexp); }
.tm-theme .punctuation.definition.character-class.regexp { color: var(--regexp); }
.tm-theme .constant.other.character-class.range.regexp { color: var(--regexp); }
.tm-theme .constant.numeric { color: var(--numeric); }
.tm-theme .meta.delimiter.decimal.period.tsx { color: var(--numeric); }
.tm-theme .constant.language.nan.tsx { color: var(--numeric); }
.tm-theme .constant.language.infinity.tsx { color: var(--numeric); }
.tm-theme .keyword.operator { color: var(--operator); }
.tm-theme .storage.type.function.arrow.tsx { color: var(--keyword); }
.tm-theme .meta.brace.angle.tsx { color: var(--punctuation); }
.tm-theme .meta.brace.round.tsx { color: var(--punctuation); }
.tm-theme .meta.brace.square.tsx { color: var(--punctuation); }
.tm-theme .punctuation { color: var(--punctuation); }
.tm-theme .constant.language.import-export-all.tsx { color: var(--punctuation); }
.tm-theme .meta.delimiter.object.comma.tsx { color: var(--punctuation); }
.tm-theme .comment { color: var(--comment); font-style: italic; }
.tm-theme .comment.block.tsx { color: var(--comment); }
.tm-theme .comment.line.double-slash.tsx { color: var(--comment); }
.tm-theme .punctuation.definition.comment.tsx { color: var(--comment); }
.tm-theme .comment.block.documentation.tsx { color: var(--comment); }
.tm-theme .other.meta.jsdoc { color: var(--comment); }
.tm-theme .other.description.jsdoc { color: var(--comment); }
.tm-theme .entity.name.type.instance.jsdoc { color: var(--variablename); }
.tm-theme .variable.other.jsdoc { color: var(--variablename); }
.tm-theme .storage.type.class.jsdoc { color: var(--types); }
.tm-theme .entity.name.type.class.tsx { color: var(--types); }
.tm-theme .entity.name.type.module.tsx { color: var(--types); }
.tm-theme .entity.name.type.enum.tsx { color: var(--types); }
.tm-theme .entity.name.function { color: var(--function); }
.tm-theme .function-call { color: var(--function); }
.tm-theme .entity.name.type { color: var(--types); }
.tm-theme .meta.template.expression.tsx { color: var(--types); }
.tm-theme .variable { color: var(--variablename); }
.tm-theme .entity.other.inherited-class.tsx { color: var(--types); }
.tm-theme .constant.language.undefined.tsx { color: var(--primitive); }
.tm-theme .variable.language.arguments.tsx { color: var(--variablename); }
.tm-theme .entity.name.tag { color: var(--types); }
.tm-theme .entity.other.attribute-name { color: var(--property); }
.tm-theme .variable.other.property,
.tm-theme .variable.other.object.property,
.tm-theme .support.variable.property { color: var(--property); }

.tm-theme .markdown.italic { font-style: italic; }
.tm-theme .markdown.punctuation { color: var(--comment); }
.tm-theme .markdown.fenced_code { color: var(--inlineCodeText); }
.tm-theme .markdown.fenced_code.definition { color: var(--text); }
.tm-theme .markdown.fenced_code.language { color: var(--types); }

.keyword.control,
.keyword.declaration,
.keyword.expressions-and-types,
.keyword.operator.new,
.keyword.reserved,
.keyword.statement,
.storage.type,
.storage.modifier,
.constant.language,
.variable.language.super,
.variable.language.this,
.text.html entity.name.tag,
.meta.tag entity.name.tag,
.meta.tag support.class,
.string.regexp keyword.other {
  font-weight: bold;
}
.keyword.operator,
.meta.arrow {
  font-weight: normal;
}