/* #region: variables */
:root {
	--rhythm: 1.6;
	--font-display: "Heldane Display", Georgia, serif;
	--font-serif: "Heldane", Georgia, serif;
	--font-grotesk: "Founders Grotesk", "Helvetica Neue", Helvetica, -apple-system, sans-serif;
	--font-mono: menlo, monaco, monospace;
	--swashes: "kern", "liga", "clig", "calt", "ss04", "ss05", "ss06", "ss07", "ss08", "ss09", "ss10", "onum";
	--dlig: "kern", "liga", "clig", "calt";

	--width-plus-phone: 414px;
	--width-big-enough: 550px;
	--width-tablet: 770px;

	--width-content: 760px;

	--color-fg05: rgba(0, 0, 0, 0.05);
	--color-fg10: rgba(0, 0, 0, 0.1);
	--color-fg20: rgba(0, 0, 0, 0.2);
	--color-fg32: rgba(0, 0, 0, 0.32);
	--color-fg40: rgba(0, 0, 0, 0.4);
	--color-fg54: rgba(0, 0, 0, 0.54);
	--color-fg60: rgba(0, 0, 0, 0.6);
	--color-fg70: rgba(0, 0, 0, 0.7);
	--color-fg80: rgba(0, 0, 0, 0.8);
	--color-fg85: rgba(0, 0, 0, 0.85);
	--color-fg90: rgba(0, 0, 0, 0.9);
	--color-fg100: rgba(0, 0, 0, 1);

	--color-bg05: rgba(255, 255, 255, 0.05);
	--color-bg10: rgba(255, 255, 255, 0.1);
	--color-bg20: rgba(255, 255, 255, 0.2);
	--color-bg30: rgba(255, 255, 255, 0.3);
	--color-bg40: rgba(255, 255, 255, 0.4);
	--color-bg50: rgba(255, 255, 255, 0.5);
	--color-bg60: rgba(255, 255, 255, 0.6);
	--color-bg70: rgba(255, 255, 255, 0.7);
	--color-bg85: rgba(255, 255, 255, 0.85);
	--color-bg90: rgba(255, 255, 255, 0.9);
	--color-bg100: rgba(255, 255, 255, 1);

	--rgb-accent: 255 127 127;
	--color-accent: rgb(var(--rgb-accent));
	--rgb-accent-dark: 181, 90, 90;
	--color-accent-dark: rgb(var(--rgb-accent-dark));
	--rgb-accent-light: 255, 192, 192;
	--color-accent-light: rgb(var(--rgb-accent-light));

	--color-background: var(--color-bg100);
	--color-text-primary: var(--color-fg80);
	--color-text-muted: var(--color-fg70);
	--color-text-secondary: var(--color-fg54);
	--color-text-disabled: var(--color-fg32);
	--color-text-inline-code: var(--color-accent-dark);
	--color-text-high-contrast: var(--color-fg100);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-fg05: rgba(255, 255, 255, 0.05);
		--color-fg10: rgba(255, 255, 255, 0.1);
		--color-fg20: rgba(255, 255, 255, 0.2);
		--color-fg32: rgba(255, 255, 255, 0.32);
		--color-fg40: rgba(255, 255, 255, 0.4);
		--color-fg54: rgba(255, 255, 255, 0.54);
		--color-fg60: rgba(255, 255, 255, 0.6);
		--color-fg70: rgba(255, 255, 255, 0.7);
		--color-fg80: rgba(255, 255, 255, 0.8);
		--color-fg85: rgba(255, 255, 255, 0.85);
		--color-fg90: rgba(255, 255, 255, 0.9);
		--color-fg100: rgba(255, 255, 255, 1);

		--color-bg05: rgba(0, 0, 0, 0.05);
		--color-bg10: rgba(0, 0, 0, 0.1);
		--color-bg20: rgba(0, 0, 0, 0.2);
		--color-bg30: rgba(0, 0, 0, 0.3);
		--color-bg40: rgba(0, 0, 0, 0.4);
		--color-bg50: rgba(0, 0, 0, 0.5);
		--color-bg60: rgba(0, 0, 0, 0.6);
		--color-bg70: rgba(0, 0, 0, 0.7);
		--color-bg80: rgba(0, 0, 0, 0.8);
		--color-bg90: rgba(0, 0, 0, 0.9);
		--color-bg100: rgba(0, 0, 0, 1);

		--color-background: var(--color-bg90);
		--color-background-alt: var(--color-bg100);

		--color-text-inline-code: var(--color-accent-light);
	}
}
/* #endregion */

/* #region: layout */
html {
	height: 100%;
	min-height: 100%;
	font: 112.5% / var(--rhythm) var(--font-serif);
	font-weight: 300;
	color: var(--color-text-primary);
	word-wrap: break-word;
	font-kerning: normal;
	-moz-font-feature-settings: var(--dlig);
	-ms-font-feature-settings: var(--dlig);
	-webkit-font-feature-settings: var(--dlig);
	font-feature-settings: var(--dlig);
}

body {
	background-color: var(--color-background);
	min-height: 100%;
}
/* #endregion */

/* #region: markdown */

/* #region: blocks */

/* #region all */
img,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
hr,
ul,
ol,
dl,
dd,
p,
figure,
pre,
table,
fieldset,
blockquote {
	margin-bottom: calc(var(--rhythm) * 1rem);
}
/* #endregion */

/* #region: headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-feature-settings: var(--swashes);
	line-height: 1.1;
	color: var(--color-text-high-contrast);
	font-weight: 300;
	text-rendering: optimizeLegibility;
}

h1 .anchor svg,
h2 .anchor svg,
h3 .anchor svg,
h4 .anchor svg,
h5 .anchor svg,
h6 .anchor svg {
	fill: var(--color-text-primary);
}

h1 code,
h2 code,
h3 code {
	font-size: 0.8em;
	font-variant: normal;
	font-weight: bold;
}

h1 {
	font-family: var(--font-display);
	-webkit-font-smoothing: antialiased;
	font-size: 2.4rem;
}

h2 {
	font-size: 1.69093rem;
}

h3 {
	font-family: var(--font-grotesk);
	font-variant: small-caps;
	text-transform: lowercase;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 1.4rem;
	margin-bottom: calc(var(--rhythm) * 0.25rem);
	font-feature-settings: var(--swashes);
}
/* #endregion */

/* #region: math */
.katex {
	font-size: 0.9rem;
}

p > .katex,
li > .katex {
	padding: 0 2px;
}

.katex-display {
	margin: 0;
	/* Get the potential scrollbar out of the way of the content */
	padding-bottom: calc(var(--rhythm) * 1rem);
	/* Mask overflow */
	overflow: auto;
	margin: 0 calc(var(--rhythm) * -0.5rem);
	padding: 0 calc(var(--rhythm) * 0.5rem);
	mask-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0) calc(var(--rhythm) * 0.2rem),
		rgba(0, 0, 0, 1) calc(var(--rhythm) * 0.5rem),
		rgba(0, 0, 0, 1) calc(100% - calc(var(--rhythm) * 0.5rem)),
		rgba(0, 0, 0, 0) calc(100% - calc(var(--rhythm) * 0.2rem))
	);
}

.katex-display .katex-html .base:last-child {
	padding-right: calc(var(--rhythm) * 0.5rem);
}
/* #endregion */

/* #region: others */
pre {
	line-height: var(--rhythm);
	font-size: 0.75rem;
	padding: calc(var(--rhythm) * 0.5rem);
	border-radius: calc(var(--rhythm) * 0.25rem);
	overflow: auto;
}

.post-body ol,
.post-body ul {
	margin-left: calc(var(--rhythm) * 1rem);
}

@media (min-width: 550px) {
	.post-body ol,
	.post-body ul {
		margin-left: calc(var(--rhythm) * 2rem);
	}
}

.post-body ol {
	list-style-type: decimal;
}

.post-body ul {
	list-style-type: disc;
}

.post-body li {
	margin-bottom: calc(var(--rhythm) * 0.5rem);
}

picture {
	display: block;
	text-align: center;
}

picture img {
	display: inline-block;
}

figure img {
	margin-bottom: 0;
}

figcaption {
	font-family: var(--font-grotesk);
	font-size: 90%;
	color: var(--color-text-secondary);
	margin-top: calc(var(--rhythm) * 0.4rem);
	text-align: center;
}

.footnotes p {
	display: inline;
	font-size: 0.9rem;
}
/* #endregion */

/* #endregion */

/* #region: inlines */
code {
	font-family: var(--font-mono);
	font-variant-ligatures: "none";
	font-feature-settings: "normal";
}

:not(pre) > code {
	font-size: 0.8rem;
	color: var(--color-text-inline-code);
}

a {
	text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
	text-decoration: underline;
}

a > code {
	background: transparent;
	padding: 0;
	color: inherit;
}
/* #endregion */

/* #endregion */

/* #region utilities */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
/* #endregion */

/* #region components */
.asterism {
	color: var(--color-text-secondary);
	font-family: AppleGothic, serif;
	font-size: 1.5rem;
	text-align: center;
}

.small-caps {
	font-variant: small-caps;
	letter-spacing: 0.3px;
	font-feature-settings: "kern", "liga", "clig", "calt", "ss04", "ss05", "ss06", "ss07", "ss08", "ss09", "ss10", "onum";
}
/* #endregion */

/* #region slide-enter */

/* From https://antfu.me/posts/sliding-enter-animation */

@keyframes slide-enter {
	0% {
		transform: translateY(6px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 100;
	}
}

@media (prefers-reduced-motion: no-preference) {
	[slide-enter],
	.slide-enter,
	.slide-enter-content > * {
		--enter-stage: 0;
		--enter-step: 75ms;
		--enter-initial: 0ms;
		animation: slide-enter 1s both 1;
		animation-delay: calc(var(--enter-initial) + var(--enter-stage) * var(--enter-step));
	}

	.slide-enter-content > *:nth-child(1) {
		--enter-stage: 1;
	}
	.slide-enter-content > *:nth-child(2) {
		--enter-stage: 2;
	}
	.slide-enter-content > *:nth-child(3) {
		--enter-stage: 3;
	}
	.slide-enter-content > *:nth-child(4) {
		--enter-stage: 4;
	}
	.slide-enter-content > *:nth-child(5) {
		--enter-stage: 5;
	}
	.slide-enter-content > *:nth-child(6) {
		--enter-stage: 6;
	}
	.slide-enter-content > *:nth-child(7) {
		--enter-stage: 7;
	}
	.slide-enter-content > *:nth-child(8) {
		--enter-stage: 8;
	}
	.slide-enter-content > *:nth-child(9) {
		--enter-stage: 9;
	}
	.slide-enter-content > *:nth-child(10) {
		--enter-stage: 10;
	}
	.slide-enter-content > *:nth-child(11) {
		--enter-stage: 11;
	}
	.slide-enter-content > *:nth-child(12) {
		--enter-stage: 12;
	}
	.slide-enter-content > *:nth-child(13) {
		--enter-stage: 13;
	}
	.slide-enter-content > *:nth-child(14) {
		--enter-stage: 14;
	}
	.slide-enter-content > *:nth-child(15) {
		--enter-stage: 15;
	}
	.slide-enter-content > *:nth-child(16) {
		--enter-stage: 16;
	}
	.slide-enter-content > *:nth-child(17) {
		--enter-stage: 17;
	}
	.slide-enter-content > *:nth-child(18) {
		--enter-stage: 18;
	}
	.slide-enter-content > *:nth-child(19) {
		--enter-stage: 19;
	}
	.slide-enter-content > *:nth-child(20) {
		--enter-stage: 20;
	}
}
/* #endregion */
