/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/* layer: shortcuts */
.container{width:100%;}
@media (min-width: 414px){
.container{max-width:414px;}
}
@media (min-width: 550px){
.container{max-width:550px;}
}
/* layer: default */
.visible{visibility:visible;}
.relative{position:relative;}
.sticky{position:sticky;}
.static{position:static;}
.mx-auto{margin-left:auto;margin-right:auto;}
.my{margin-top:1rem;margin-bottom:1rem;}
.my-0{margin-top:0;margin-bottom:0;}
.mb-2{margin-bottom:calc(var(--rhythm) * .25rem * 2);}
.me{margin-inline-end:1rem;}
.ms{margin-inline-start:1rem;}
.block{display:block;}
.contents{display:contents;}
.h-full{height:100%;}
.max-w-\[var\(--width-content\)\]{max-width:var(--width-content);}
.flex{display:flex;}
.grow{flex-grow:1;}
.flex-col{flex-direction:column;}
.items-center{align-items:center;}
.justify-center{justify-content:center;}
.justify-between{justify-content:space-between;}
.b{border-width:1px;}
.px{padding-left:1rem;padding-right:1rem;}
.px-\[0\.8rem\]{padding-left:0.8rem;padding-right:0.8rem;}
.before\:pr-\[\.64rem\]::before{padding-right:.64rem;}
.after\:pl-\[\.64rem\]::after{padding-left:.64rem;}
.text-center{text-align:center;}
.text-\[1\.2rem\]{font-size:1.2rem;}
.text-\[2\.8rem\]{font-size:2.8rem;}
.font-medium{font-weight:500;}
.font-normal{font-weight:400;}
.font-grotesk{font-family:var(--font-grotesk);}
.italic{font-style:italic;}
.text-textHighContrast{color:var(--color-text-high-contrast);}
.text-textMuted{color:var(--color-text-muted);}
.text-textSecondary{color:var(--color-text-secondary);}
.before\:text-textDisabled::before{color:var(--color-text-disabled);}
.after\:text-textDisabled::after{color:var(--color-text-disabled);}
.underline{text-decoration-line:underline;}
.no-underline{text-decoration:none;}
.antialiased{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.before\:content-\[\'\~\'\]::before{content:'~';}
.after\:content-\[\'\~\'\]::after{content:'~';}
@media (prefers-color-scheme: dark){
.dark\:hidden{display:none;}
}
@media (prefers-color-scheme: light){
.light\:hidden{display:none;}
}
@media (min-width: 550px){
.md\:text-\[3\.4rem\]{font-size:3.4rem;}
}